<div id="slideshow" class="container-fluid"><!-- Slideshow -->
  <%= banners %>
</div><!-- ./Slideshow -->

<!-- Page Content -->
<div id="wrapper" class="container">

  <!-- LATEST Section -->
  <div class="row">
  	<div class="col-md-12 title">
  		<span class="line"></span>
  		<h2>CATALOG</h2>
  	</div>
  </div>

  <!-- /.row -->
	<div class="row">
	
    <%= comics mode: 'all' %>
	
  </div>
  <!-- /.row -->

</div>
<!-- /.wrapper -->