<!-- BEGIN LOGIN -->
<div class="content">
  <%= render partial: 'admin/login_form', locals: {style: 'display:inline;'} %>

  <%= render partial: 'admin/forgot_form', locals: {style: 'display:none;'} %>
  
  <%= render partial: 'admin/registration_form', locals: {style: 'display:none;'} %>
</div>
<!-- END LOGIN -->