    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Customer</h1>
        </div>        
        <!-- /.col-lg-12 -->
    </div>    
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                      <div class="col-lg-6">
                          <%= form_for @customer, {url: admin_store_customers_url, role: 'form', method: 'post', multipart: true} do |f| %>
                              <%= render partial: 'form', locals: {f: f} %>
                              <%= button_tag 'Create Customer', type: 'submit', class: "btn btn-primary" %>
                              <%= button_tag 'Reset', url: admin_store_customers_url, class: "btn btn-default", method: 'get', type: 'reset' %>
                          <% end %>
                      </div>
                      <!-- /.col-lg-6 (nested) -->
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
