<!-- Page Content -->
<div id="wrapper" class="container">

	<!-- LATEST Section -->
	<div class="row">
		<div class="col-md-12 title">
			<span class="line"></span>
			<h2>LATEST</h2>
		</div>
		<div class="col-md-15 col-sm-6">
			<div class="comicBox">
				<a href="comic-single-page.html">
					<img class="img-responsive img-hover" src="http://placehold.it/300x300" alt="">
					ep. #1
				</a>
				<div class="infoText">
					<div class="comicName">Comic Name</div>
					<div class="creatorName">Creator Name</div>
					<div class="genre">Genre</div>
				</div>
			</div>
		</div>
		<div class="col-md-15 col-sm-6">
			<div class="comicBox">
				<a href="comic-single-page.html">
					<img class="img-responsive img-hover" src="http://placehold.it/300x300" alt="">
					ep. #1
				</a>
				<div class="infoText">
					<div class="comicName">Comic Name</div>
					<div class="creatorName">Creator Name</div>
					<div class="genre">Genre</div>
				</div>
			</div>
		</div>
		<div class="col-md-15 col-sm-6">
			<div class="comicBox">
				<a href="comic-single-page.html">
					<img class="img-responsive img-hover" src="http://placehold.it/300x300" alt="">
					ep. #1
				</a>
				<div class="infoText">
					<div class="comicName">Comic Name</div>
					<div class="creatorName">Creator Name</div>
					<div class="genre">Genre</div>
				</div>
			</div>
		</div>
		<div class="col-md-15 col-sm-6">
			<div class="comicBox">
				<a href="comic-single-page.html">
					<img class="img-responsive img-hover" src="http://placehold.it/300x300" alt="">
					ep. #1
				</a>
				<div class="infoText">
					<div class="comicName">Comic Name</div>
					<div class="creatorName">Creator Name</div>
					<div class="genre">Genre</div>
				</div>
			</div>
		</div>
		<div class="col-md-15 col-sm-6">
			<div class="comicBox">
				<a href="comic-single-page.html">
					<img class="img-responsive img-hover" src="http://placehold.it/300x300" alt="">
					ep. #1
				</a>
				<div class="infoText">
					<div class="comicName">Comic Name</div>
					<div class="creatorName">Creator Name</div>
					<div class="genre">Genre</div>
				</div>
			</div>
		</div>
		<div class="col-md-15 col-sm-6">
			<div class="comicBox">
				<a href="comic-single-page.html">
					<img class="img-responsive img-hover" src="http://placehold.it/300x300" alt="">
					ep. #1
				</a>
				<div class="infoText">
					<div class="comicName">Comic Name</div>
					<div class="creatorName">Creator Name</div>
					<div class="genre">Genre</div>
				</div>
			</div>
		</div>
		<div class="col-md-15 col-sm-6">
			<div class="comicBox">
				<a href="comic-single-page.html">
					<img class="img-responsive img-hover" src="http://placehold.it/300x300" alt="">
					ep. #1
				</a>
				<div class="infoText">
					<div class="comicName">Comic Name</div>
					<div class="creatorName">Creator Name</div>
					<div class="genre">Genre</div>
				</div>
			</div>
		</div>
		<div class="col-md-15 col-sm-6">
			<div class="comicBox">
				<a href="comic-single-page.html">
					<img class="img-responsive img-hover" src="http://placehold.it/300x300" alt="">
					ep. #1
				</a>
				<div class="infoText">
					<div class="comicName">Comic Name</div>
					<div class="creatorName">Creator Name</div>
					<div class="genre">Genre</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /.row -->
    <!-- POPULAR Section -->
    <div class="row">
	<div class="col-md-12 title">
		<span class="line"></span>
		<h2>Popular</h2>
	</div>
        <div class="col-md-15 col-sm-6">
		<div class="comicBox">
			<a href="comic-single-page.html">
				<img class="img-responsive img-hover" src="http://placehold.it/300x300" alt="">
			</a>
			<div class="infoText">
				<div class="comicName">Comic Name</div>
				<div class="creatorName">Creator Name</div>
				<div class="genre">Genre</div>
			</div>
		</div>
        </div>
        <div class="col-md-15 col-sm-6">
		<div class="comicBox">
			<a href="comic-single-page.html">
				<img class="img-responsive img-hover" src="http://placehold.it/300x300" alt="">
			</a>
			<div class="infoText">
				<div class="comicName">Comic Name</div>
				<div class="creatorName">Creator Name</div>
				<div class="genre">Genre</div>
			</div>
		</div>
        </div>
        <div class="col-md-15 col-sm-6">
		<div class="comicBox">
			<a href="comic-single-page.html">
				<img class="img-responsive img-hover" src="http://placehold.it/300x300" alt="">
			</a>
			<div class="infoText">
				<div class="comicName">Comic Name</div>
				<div class="creatorName">Creator Name</div>
				<div class="genre">Genre</div>
			</div>
		</div>
        </div>
        <div class="col-md-15 col-sm-6">
		<div class="comicBox">
			<a href="comic-single-page.html">
				<img class="img-responsive img-hover" src="http://placehold.it/300x300" alt="">
			</a>
			<div class="infoText">
				<div class="comicName">Comic Name</div>
				<div class="creatorName">Creator Name</div>
				<div class="genre">Genre</div>
			</div>
		</div>
        </div>
        <div class="col-md-15 col-sm-6">
		<div class="comicBox">
			<a href="comic-single-page.html">
				<img class="img-responsive img-hover" src="http://placehold.it/300x300" alt="">
			</a>
			<div class="infoText">
				<div class="comicName">Comic Name</div>
				<div class="creatorName">Creator Name</div>
				<div class="genre">Genre</div>
			</div>
		</div>
        </div>
    </div>
    <!-- /.row -->
    <!-- PREMIUM Section -->
    <div class="row">
	<div class="col-md-12 title">
		<span class="line"></span>
		<h2>Premium</h2>
	</div>
        <div class="col-md-3 col-sm-6">
		<div class="comicBox">
			<a href="comic-single-page.html">
				<img class="img-responsive img-hover" src="http://placehold.it/300x300" alt="">
			</a>
			<div class="infoText">
				<div class="comicName">Comic Name</div>
				<div class="creatorName">Creator Name</div>
				<div class="genre">Genre</div>
			</div>
		</div>
        </div>
        <div class="col-md-3 col-sm-6">
		<div class="comicBox">
			<a href="comic-single-page.html">
				<img class="img-responsive img-hover" src="http://placehold.it/300x300" alt="">
			</a>
			<div class="infoText">
				<div class="comicName">Comic Name</div>
				<div class="creatorName">Creator Name</div>
				<div class="genre">Genre</div>
			</div>
		</div>
        </div>
        <div class="col-md-3 col-sm-6">
		<div class="comicBox">
			<a href="comic-single-page.html">
				<img class="img-responsive img-hover" src="http://placehold.it/300x300" alt="">
			</a>
			<div class="infoText">
				<div class="comicName">Comic Name</div>
				<div class="creatorName">Creator Name</div>
				<div class="genre">Genre</div>
			</div>
		</div>
        </div>
        <div class="col-md-3 col-sm-6">
		<div class="comicBox">
			<a href="comic-single-page.html">
				<img class="img-responsive img-hover" src="http://placehold.it/300x300" alt="">
			</a>
			<div class="infoText">
				<div class="comicName">Comic Name</div>
				<div class="creatorName">Creator Name</div>
				<div class="genre">Genre</div>
			</div>
		</div>
        </div>
        <div class="col-md-3 col-sm-6">
		<div class="comicBox">
			<a href="comic-single-page.html">
				<img class="img-responsive img-hover" src="http://placehold.it/300x300" alt="">
			</a>
			<div class="infoText">
				<div class="comicName">Comic Name</div>
				<div class="creatorName">Creator Name</div>
				<div class="genre">Genre</div>
			</div>
		</div>
        </div>
        <div class="col-md-3 col-sm-6">
		<div class="comicBox">
			<a href="comic-single-page.html">
				<img class="img-responsive img-hover" src="http://placehold.it/300x300" alt="">
			</a>
			<div class="infoText">
				<div class="comicName">Comic Name</div>
				<div class="creatorName">Creator Name</div>
				<div class="genre">Genre</div>
			</div>
		</div>
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.wrapper -->
