<footer><!-- Footer -->
	<div class="container">
		<div class="col-md-3">
			<h3>Kosmik</h3>
			<ul>
				<li><a href="#">About Kosmik</a></li>
			</ul>
		</div>
		<div class="col-md-3">
			<h3>Social Media</h3>
			<ul class="socmedBtn">
				<li><a href="http://facebook.com/kosmiknetwork"><i class="fa fa-facebook"></i></a></li>
				<li><a href="https://twitter.com/kosmiknetwork"><i class="fa fa-twitter"></i></a></li>
				<li><a href="http://instagram.com/kosmiknetwork"><i class="fa fa-instagram"></i></a></li>
			</ul>
		</div>
		<div class="col-md-3 pull-right">
			<a href="/">
				<img src="/assets/img/logo.png" alt="" />
			</a>
		</div>
	</div>
</footer><!-- ./Footer -->

<!-- JavaScripts-->
<script type="text/javascript" src="/assets/vendor/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/assets/vendor/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/vendor/parallax.min.js"></script>
<script type="text/javascript" src="/assets/js/kosmik.js"></script>
