<!DOCTYPE html><!-- HTML -->

<!--[if IE 8]> <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<!--<![endif]-->
  
  <%= render partial: 'layouts/frontend_header' %>
	
<body>

  <%= yield %>
  
  <%= render partial: 'layouts/frontend_footer' %>
  
</body>
<!-- END BODY -->
</html>