<!DOCTYPE html>

  <%= render partial: 'layouts/license' %>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
  
  <%= render partial: 'layouts/header' %>
  
<body>
<div>

  <%= yield %>
  
  <%= render partial: 'layouts/footer' %>
  
</body>
<!-- END BODY -->
</html>